.bg-nav{
    background-color: rgba(174, 183, 179, 1)!important;
}

html, body{/*Fondo de pantalla*/
    height: 100%;
    background-color: #023C40;
    overflow-x: hidden;
}

.fondo-altura{
    max-height: 20vh;
}

.tamaño{/*tamaño carrusel*/
    max-height: 800px;
    min-height: 220px;
    min-width: 317px;
}
.fondo-carrito{
    background-color: #AEB7B3;
 }

 .tamaño-carrito{
    max-width: 270px;
    max-height: 300px;
}

.separar_items{
    padding-right: 1rem;
}

.tam-fuente{
    font-size: 1.5rem;
}

.color-fondo{
    background-color: #22333B;
}

.borde-derecha{
    border-right: 2px solid #AEB7B3;
    padding-right: 10vw;
    min-height: 136px;
}

.tam-foto2{
    max-width: 650px;
    max-height: 790px;
}

.relleno{
    padding: 0.5rem;
}

.perfil{
    border-radius: 50%;
    height: 220px;
    width: 220px;
}

.borde1{
    border: 1px black solid;
    border-radius: 20px 0px;
    background-color: antiquewhite;
}

.centrar-titulo2{
    text-align: justify;
    color: black;
}

.tam-titulo2{
    font-size: 3rem;
}

.texto{
    font-size: 1.5rem;
}

.cambiar-texto-footer{
    list-style-type: none;
    padding: 0;
}

.quitar-azul{
    text-decoration: none;
    color: white;
}

.quitar-azul2{
    text-decoration: none;
    color: #AEB7B3;
}

.tamaño-cuadro{
    max-width: 60px;
    height: 40px;
}


.tamaño-cuadro2{
    display: flex;
    width: 30px;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.color-blanco{
    margin-bottom: 2rem;
    color: white;
}

.color-blanco2{
    color: white;
}

.color-distinto{
    color: #AEB7B3;
}

.cuadrado{
    background-color: #AEB7B3;
    width: 90%;
    height: 50%;
    margin-bottom: 1rem;
}

.color-distinto-tras{
    color: rgba(217, 217, 217, 0.5);
    margin: 0;
}

.display-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.centrar-texto{
    text-align: center;
    color: black;
    padding: 1rem 0;
}

.tamaño-card{
    width: 20rem;
}

.centrar_titulo1{
    text-align: center;
    color: #AEB7B3;
}

.tam-titulo{
    font-size: 4rem;
}
.tam-titulo2{
    font-size: 3rem;
}

.tamaño-fav{
    width: 50px;
    height: 50px;
    margin-left: 5rem;
}

.cuadro-genero2{
    width: 100px;
    height: 50px;
    background-color: white;
    align-items: center;
    justify-content: center;
    font-size: .8rem;
}

.tam_foto{ /*Se ocupo para poner del mismo tamaño las mascotas en adopta.html*/
    height: 20rem;
    width: 100%;
    max-width: 318px;
    max-height: 320px;
}

.bordear{ /*Bordear fotos*/
    border-radius: 1rem;
}

.bordear2{
    border-radius: .5rem;
}

.negrita{
    font-weight: bold;
}
.anchar-boton{
    height: 3.2vh;
}

.texto-card{
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    font-weight: 600;
}

.boton-grande{
    min-height: 1rem;
    min-width: 6rem;
    height: 4.5vh;
    width: 6vw;
}

.logo{
    display: inline-block;
    max-width: 75px;
    max-height: 75px;
}

.tamaño_foto_nosotros{
    height: 25rem;
    width: 48rem;
}

.centrar_titulo{/*Centrar titulo Mega Games*/
    text-align: center;
    color: #AEB7B3;
}
.btn-ingresar{
    height: 50px;
    width: 100px;
    border-radius: 20%;
}
.horizontal-container {
    justify-content: center;
    gap: 20px; /* Espacio entre los campos */
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.btn2:hover{text-decoration: none;
    background: #023C40;
    color: white;
    border: 1px solid white;

}
.mar{
    margin-bottom: 5rem;
}

@media screen and (max-width: 320px) {

    .borde-derecha{
        border-right: 2px solid #AEB7B3;
        padding-right: 3vw;
        min-height: 136px;
    }
    .color-blanco{
        margin-bottom: 1rem;
        color: white;
        font-size: .7rem;
    }
    .color-blanco2{
        color: white;
        font-size: .7rem;
    }
    .quitar-azul{
        text-decoration: none;
        color: white;
        font-size: .7rem;
    }
    .quitar-azul2{
        text-decoration: none;
        color: #AEB7B3;
        font-size: .7rem;
    }
    .color-distinto{
        color: #AEB7B3;
        font-size: .7rem;
    }
    
    .color-distinto-tras{
        color: rgba(217, 217, 217, 0.5);
        margin: 0;
        font-size: .7rem;
    }
    .tam-titulo{
        font-size: 2.5rem;
    }
    .tam-titulo2{
        font-size: 2rem;
    }
    .texto{
        font-size: 1rem;
    }
    .cuadro-genero2{
        width: 100px;
        height: 50px;
        background-color: white;
        align-items: center;
        justify-content: center;
        font-size: .8rem;
    }
}

@media screen and (min-width:321px) and (max-width: 575px) {

    .borde-derecha{
        border-right: 2px solid #AEB7B3;
        padding-right: 4vw;
        min-height: 136px;
    }
    .color-blanco{
        margin-bottom: 1rem;
        color: white;
        font-size: .9rem;
    }
    .color-blanco2{
        color: white;
        font-size: .9rem;
    }

    .quitar-azul{
        text-decoration: none;
        color: white;
        font-size: .9rem;
    }
    .quitar-azul2{
        text-decoration: none;
        color: #AEB7B3;
        font-size: .9rem;
    }
    
    .color-distinto{
        color: #AEB7B3;
        font-size: 1rem;
    }
    
    .color-distinto-tras{
        color: rgba(217, 217, 217, 0.5);
        margin: 0;
        font-size: .9rem;
    }
    .tam-titulo{
        font-size: 2.5rem;
    }
    .tam-titulo2{
        font-size: 2rem;
    }
    .texto{
        font-size: 1rem;
    }
    
}

@media screen and (min-width:576px) and (max-width:767px){
    .borde-derecha{
        border-right: 2px solid #AEB7B3;
        padding-right: 5vw;
        min-height: 136px;
    }
    .tam-titulo{
        font-size: 3rem;
    }
    .tam-titulo2{
        font-size: 2.5rem;
    }
    .texto{
        font-size: 1rem;
    }
}
@media screen and (min-width:768px) and (max-width:991px){
    .borde-derecha{
        border-right: 2px solid #AEB7B3;
        padding-right: 8vw;
        min-height: 136px;
    }
    .texto{
        font-size: 1.1rem;
    }
}