
{% extends 'base.html' %}

{% block content %}

<main class="container-fluid mx-auto">
    <div class="row">
        <div class="col-md-6 py-0 px-0 fondo-carrito mx-2 mt-2 bordear2">
            <h4 class="text-center mt-1">Carrito de Compra</h4>
            <hr>
            <div class="container">
                <div class="row d-flex">
                    <div class="col-5 col-md-5 col-lg-4 text-center negrita">Tus Productos</div>
                    <div class="col-3 col-md-4 col-lg-4 text-center negrita">Cantidad</div>
                    <div class="col-4 col-md-3 col-lg-4 text-center negrita">Precio</div>
                </div>
            </div>
            <hr>
            <div class="row mx-1 mb-2">
                {% for item in elementos_carrito %}
                <div class="row d-flex align-items-center">
                    <div class="col-5 col-lg-4 px-0 py-0 d-flex flex-column justify-content-center align-items-center tamaño-carrito mx-auto">
                        <img class="img-fluid w-75" src="{{ item.videojuego.image.url }}" alt="{{ item.videojuego.nom_juego }}">
                        <p class="text-center mt-2 negrita">{{ item.videojuego.nom_juego }}</p>
                    </div>
                    <div class="col-3 col-md-4 col-lg-4 px-0 py-0 d-flex flex-column justify-content-center align-items-center negrita mx-auto mb-4">
                        <p class="cantidadProducto">{{ item.cantidad }}</p>
                        <div class="d-flex justify-content-center align-items-center mt-2">
                            <button class="btn-menos">-</button>
                            <button class="btn-mas">+</button>
                        </div>
                    </div>
                    <div class="col-4 col-md-3 col-lg-4 px-0 py-0 d-flex flex-column justify-content-center align-items-center negrita mx-auto mt-2">
                        <p>${{ item.precio }}</p>
                        <button class="bordear2 mt-2">Borrar</button>
                    </div>
                </div>
                <hr>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-5 py-0 px-0 fondo-carrito fondo-altura mx-2 mt-2 bordear2">
            <h4 class="text-center mt-1">Total</h4>
            <hr>
            <div class="row">
                <label class="col-7 mx-auto negrita" for="Total">Subtotal:</label>
                <p class="col-3 mx-auto negrita mb-2">${{ subtotal_formateado }}</p>
                <label class="col-7 mx-auto negrita" for="Total">IVA:</label>
                <p class="col-3 mx-auto negrita mb-2">${{ iva_formateado }}</p>
                <hr>
                <label class="col-7 mx-auto negrita" for="Total">Total:</label>
                <p class="col-3 mx-auto negrita mb-2">${{ precio_formateado }}</p>
                <div class="text-center"><button id="pagarBtn" class="bordear2 mt-4 negrita boton-grande mb-2 col-3">Pagar</button></div>
            </div>
        </div>
    </div>
</main>

{% endblock %}