{% extends 'base.html' %}

{% block content %}
<body>
    <div class="fondo-carrito mb-2 mt-2">
        <h1 class="text-center">¿Estás seguro de que deseas eliminar "{{ videojuego.nom_juego }}" para {{ videojuego.id_consola.nombre}} ?</h1>
        <div class="d-flex justify-content-center">
            <img src="{{ videojuego.image.url }}" alt="" class="tam_foto mb-2 mt-2 bordear">
        </div>
        <form method="post" class="text-center">
            {% csrf_token %}
            <button type="submit" class="mb-2">Sí, eliminar</button>
            <a href="{% url 'lista_videojuegos' %}">Cancelar</a>
        </form>
    </div>
    
</body>
{% endblock %}