{% extends 'base.html' %}

{% block content %}

<section class="container d-flex justify-content-center align-items-center" style="min-height: 70vh;">
    <div class="fondo-carrito text-center mx-auto mb-4 mt-4 bordear p-4 " style="max-width: 500px;">
        <h2>Cambiar Contraseña</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn-primary btn">Cambiar Contraseña</button>
            </form>
    </div>
</section>
{% endblock %}