
{% extends 'base.html' %}

{% block content %}
<main>
    <section class="container d-flex justify-content-center align-items-center flex-column mt-1 mb-4" style="min-height: 100vh;">
        <div class="fondo-carrito card p-4 mx-auto shadow-lg col-lg-8 col-md-10 col-sm-12 flex-column">
            <div class="card-body">
                <h2 class="card-title text-center">Crear Cuenta</h2>
                <hr>
                <form method="post" novalidate>
                    {% csrf_token %}
                    
    
                    <div class="row mb-3">
                        <div class="col-md-6 mb-3">
                            <label for="{{ form.first_name.id_for_label }}" class="form-label">Nombre:</label>
                            {{ form.first_name }}
                            {{ form.first_name.errors }}
                        </div>
                        <div class="col-md-6 ">
                            <label for="{{ form.last_name.id_for_label }}" class="form-label">Apellido:</label>
                            {{ form.last_name }}
                            {{ form.last_name.errors }}
                            
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.email.id_for_label }}" class="form-label">Correo electrónico:</label>
                        {{ form.email }}
                        {{ form.email.errors }}
                    </div>
                    
                    <div class="row mb-3">
                        <div class="mb-3 col-md-6">
                            <label for="{{ form.password1.id_for_label }}" class="form-label">Contraseña:</label>
                            {{ form.password1 }}
                            {{ form.password1.errors }}
                            {% if form.password1.help_text %}
                            {% endif %}
                        </div>
        
                        <div class="mb-3 col-md-6">
                            <label for="{{ form.password2.id_for_label }}" class="form-label">Repetir Contraseña:</label>
                                {{ form.password2 }}
                                {{ form.password2.errors }}
                        </div>

                    </div>
                    <hr>
                    <p class="text-muted">
                        Tu contraseña no puede ser demasiado similar a tu otra información personal.<br>
                        Tu contraseña debe contener al menos 8 caracteres.<br>
                        Tu contraseña no puede ser una contraseña común.<br>
                        Tu contraseña no puede ser completamente numérica.
                    </p>
                    <br>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Registrarse</button>
                    </div>
                </form>
            </div>
        </div>
    
        <div class="container fondo-carrito card mx-auto shadow-lg col-lg-8 col-md-10 col-sm-12 flex-column mt-4">
            <div class="fondo-carrito text-center bordear p-4 shadow-sm rounded">
                <div>
                    <p class="d-inline">¿Ya estás registrado?</p>
                    <a href="{% url 'login' %}" class="btn btn-link">¡Pulsa aquí para unirte!</a>
                </div>
                <div>
                    <p class="d-inline">¿Has olvidado tu contraseña?</p>
                    <a href="{% url 'resetear_contrasena' %}" class="btn btn-link">Pulsa aquí</a>
                </div>
            </div>
        </div>
    </section>
    
</main>
{% endblock %}
